<style>
  .table td, .table th { vertical-align: middle; }
</style>

{{#if productos.length}}
  <h2>Lista de Productos</h2>
  <div class="table-responsive">
    <table class="table table-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>
      {{#each productos}}
        <tr>
          <td>{{this.id}}</td>
          <td><a>{{this.title}}</a></td>
          <td>${{this.price}}</td>
          <td><img width="50" src={{this.thumbnail}} alt="not found" /></td>
          <td><a type="button" onclick="quitarDelCarrito({{this.id}})">borrar</a></td>
        </tr>
      {{/each}}
    </table>
    {{#else}}
    <br><h4>carrito sin productos</h2>
    {{/else}}
  </div>
{{/if}}